:root {
  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #ff8d1a;
  --color-primary-light-1: #000;
  --color-primary-dark-1: #000;
  --color-secondary: #00b5ce;
  --color-secondary-light-1: #fff;
  --color-secondary-dark-1: #fff;
  --color-tertiary: #5b3fe7;
  --color-grey-light-1: #fafafa;
  --color-grey-light-2: #cccccc;
  --color-grey-light-3: #b3b3b3;
  --color-grey-dark-1: #1a1a1a;
  --color-grey-dark-2: #333333;
  --color-grey-dark-3: #4d4d4d;
  /* Font Variables */
  --font-primary: 'Poppins', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  /* Font Sizes */
  --font-size-h1: 4rem;
  --font-size-h2: 3.6rem;
  --font-size-h3: 2.8rem;
  --font-size-h4: 1.8rem;
  --font-size-h5: 1.4rem;
  --font-size-h6: 1.2rem;
  --font-size-sh: 1.6rem;
  --font-size-p: 1.8rem;
  --font-size-a: 1.8rem;
  --font-size-btn: 1.8rem;
  /* Font Weights */
  --font-weight-h1: 700;
  --font-weight-h2: 700;
  --font-weight-h3: 700;
  --font-weight-h4: 600;
  --font-weight-h5: 500;
  --font-weight-h6: 400;
  --font-weight-sh: 400;
  --font-weight-p: 400;
  --font-weight-a: 600;
  --font-weight-btn: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--font-primary);
  font-weight: 400;
  background-color: var(--color-grey-light-1);
  /* line-height: 1.2; */
  /* overflow-x: hidden; */
}

/* Reuseable Classes */
.sec-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.heading-1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

.heading-2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}

.heading-3 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}

.heading-4 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
}

.heading-5 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}

.heading-6 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-h6);
}

.subheading {
  font-family: var(--font-heading);
  display: block;
  font-size: var(--font-size-sh);
  font-weight: var(--font-weight-sh);
}

.para {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--font-size-a);
  font-weight: var(--font-weight-a);
  transition: all 0.2s;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.margin-top-sm {
  margin-top: 1.6rem !important;
}

.margin-top-md {
  margin-top: 3.2rem !important;
}

.margin-top-lg {
  margin-top: 6.4rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-right-md {
  margin-right: 3.2rem !important;
}

.margin-right-lg {
  margin-right: 6.4rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

.margin-bottom-lg {
  margin-bottom: 6.4rem !important;
}

.margin-left-sm {
  margin-left: 1.6rem !important;
}

.margin-left-md {
  margin-left: 3.2rem !important;
}

.margin-left-lg {
  margin-left: 6.4rem !important;
}

.text-center {
  text-align: center !important;
}

/* Animations */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.move-in-top {
  animation: moveInTop 2s;
}

.move-in-right {
  animation: moveInRight 2s;
}

.move-in-bottom {
  animation: moveInBottom 2s;
}

.move-in-left {
  animation: moveInLeft 2s;
}

/* Reuseable Components */
/* Button */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-btn);
  /* For <button> element */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--fill {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.btn--outline {
  background-color: var(--color-white) !important;
  color: var(--color-primary) !important;
  box-shadow: inset 0 0 0 0.3rem var(--color-primary) !important;
}

/* .btn:hover, .btn:active { background-color: var(--color-black); color: var(--color-white); } */
/* Form */
.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: var(--color-white);
  width: 100%;
  padding: 3rem;
  border-radius: 0.7rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.form__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.form__para {
  color: var(--color-secondary);
  font-weight: 600;
}

.form__phone-input {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}

.form__phone-input select,
input[type='tel'] {
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  font-size: var(--font-size-p);
  box-shadow: none;
  border-radius: 0.7rem;
  outline: none;
}

.form__phone-input #country-code-input {
  display: none;
}

.form__phone-input select:focus,
.form__phone-input input[type='tel']:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form__btn {
  width: 100%;
}

/* Header */
.header {
  margin-bottom: 5rem;
  text-align: center;
}

.header__heading--purple {
  color: var(--color-tertiary);
}

/* Tabs */
.tabs__btn--active {
  background-color: var(--color-black);
  color: var(--color-white);
}

.tabs__content {
  display: none;
}

.tabs__content.tabs__content--active {
  display: block;
}

/* Slider */
.slider {
  position: relative;
  display: flex;
  overflow: hidden;
}

.slider__slide {
  flex: 0 0 100%;
}

.slider__btn {
  position: absolute;
  /* top: 50%; */
  transform: translateY(-50%);
  z-index: 999;
}

.slider__btn--left {
  left: 0;
}

.slider__btn--right {
  right: 0;
}

/* Video Player */
.video-player {
  position: relative;
  padding-bottom: 56.25%;
  /* for 16:9 ratio */
  height: 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.video-player__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Accordion */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.accordion__item.accordion__active {
  border-top: 0.3rem solid var(--color-secondary);
}

.accordion__item.accordion__active .accordion__num,
.accordion__item.accordion__active .accordion__title,
.accordion__item.accordion__active .accordion__icon {
  color: var(--color-secondary);
}

.accordion__item.accordion__active .accordion__content {
  display: block;
}

.accordion__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  background-color: var(--color-white);
  padding: 2rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 0.7rem;
}

.accordion__num,
.accordion__title,
.accordion__icon {
  font-size: 2rem;
}

.accordion__title {
  font-weight: 600;
}

.accordion__content {
  font-size: 1.6rem;
  display: none;
  grid-column: 2 / 3;
}

/* Modal */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content-container {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.7rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close-btn {
  color: #aaa;
  align-self: flex-end;
  font-size: 2.8rem;
  font-weight: bold;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.modal__iframe-container--landscape {
  padding-top: 56.25%;
}

.modal__iframe-container--portrait {
  width: 56.25%;
  height: 0;
  padding-top: 177.78%;
  margin: 0 auto;
}

.modal__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Popup */
@keyframes grow {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.03);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.popup {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

.popup__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}

.popup__container {
  width: 70rem;
  padding: 1rem 2rem 2rem 2rem;
  background-color: var(--color-white);
  border-radius: 0.7rem;
  margin: 0 4rem;
  animation: grow 2s linear infinite;
}

.popup__btn {
  display: block;
  margin: 0 0 0.5rem auto;
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.popup__img {
  display: block;
  width: 100%;
  border-radius: 0.7rem;
}

/* Sections */
/* Nav Btn Section */
.nav-btn {
  padding: 0.9rem 0;
}

.nav-btn__btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-btn__btn:link,
.nav-btn__btn:visited {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.nav-btn__btn--active:link,
.nav-btn__btn--active:visited {
  background-color: var(--color-secondary);
}

/* Hero Section */

/* Courses Section */
.courses {
  position: relative;
  padding: 5rem 0;
}

.courses__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55rem;
  object-fit: cover;
  z-index: -1;
}

.courses .slider {
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
}

.courses .slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(100% / 6);
}

.courses .tabs__btn--active {
  width: 90%;
  border: 0.5rem solid var(--color-white);
  box-shadow: none;
}

.courses .tabs__btn--active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 4rem;
  width: 4rem;
  background-color: var(--color-white);
  margin-top: -1.6rem;
  z-index: -1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.courses__slider-slide-img {
  position: relative;
  width: 60%;
  border-radius: 0.7rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 5rem;
}

.courses__slider-slide-img > img {
  display: block;
  width: 100%;
  z-index: 2 !important;
}

.courses .slider__btn {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 3rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

.courses .tabs__content {
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 0.7rem;
  padding: 3rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.courses__tabs-content-label-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -5rem;
  margin-bottom: 5rem;
}

.courses__tabs-content-label {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-white);
}

.courses__tabs-content-label--primary {
  background-color: var(--color-tertiary);
}

.courses__tabs-content-label--secondary {
  background-color: var(--color-secondary);
}

.courses__tabs-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.courses__tabs-content-heading {
  margin-bottom: 1rem;
}

.courses__tabs-content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin-bottom: 5rem !important;
}

.courses__tabs-content-list li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1rem;
  width: 29rem;
}

.courses__tabs-content-list li i {
  color: var(--color-secondary);
  font-size: 3rem;
}

.courses__tabs-content-list li span {
  font-size: 2rem;
}

.courses__tabs-content-demo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.courses__tabs-content-demo-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses__tabs-content-demo-img-container > img {
  display: block;
  width: 100%;
}

.courses__tabs-content-demo-img-container a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-secondary);
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  margin-top: -3rem;
  font-weight: 500;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.courses__tabs-content-ctas {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

/* FAQs Section */
.faqs {
  padding: 5rem 0;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 50em) {
  .courses .slider__slide {
    flex: 0 0 calc(100% / 4);
  }
}

@media only screen and (max-width: 37.5em) {
  .courses .slider__slide {
    flex: 0 0 calc(100% / 3);
  }
}
