/* UI COMPONENTS */
/* Theme Toggle */
.theme-toggle {
  .theme-toggle__icon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: fill 0.3s ease;
  }
}

/* Light mode styles */
body[data-theme='light'] {
  background-color: var(--color-white);
  color: var(--color-black);

  .theme-toggle__icon--sun {
    display: block;
  }

  .theme-toggle__icon--moon {
    display: none;
  }

  .theme-toggle__icon--sun {
    fill: var(--color-black);
  }
}

/* Dark mode styles */
body[data-theme='dark'] {
  background-color: var(--color-black);
  color: var(--color-white);

  .theme-toggle__icon--sun {
    display: none;
  }

  .theme-toggle__icon--moon {
    display: block;
  }

  .theme-toggle__icon--moon {
    fill: var(--color-white);
  }
}

/* Slider */
.slider {
  position: relative;

  .slider__slides-container {
    display: flex;
    overflow: hidden;

    .slider__slide {
      flex: 0 0 calc(100% / 1);
      text-align: center;

      > img {
        display: block;
        width: 100%;
      }
    }
  }

  .slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;

    &.slider__btn--left {
      left: 0;
    }

    &.slider__btn--right {
      right: 0;
    }
  }

  .slider__dots-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .slider__dot {
      display: inline-block;
      border: 0.1rem solid var(--color-black);
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      cursor: pointer;

      &.slider__dot--active {
        background-color: var(--color-black);
      }
    }
  }
}

/* Tabs */
.tabs {
  .tabs__btn-container {
    .tabs__btn {
      cursor: pointer;

      &.tabs__btn--active {
        background-color: var(--color-black);
        color: var(--color-white);
      }
    }
  }

  .tabs__content {
    display: none;

    &.tabs__content--active {
      display: block;
    }
  }
}
