:root {
  /* Colors */
  --color-black: #000;
  --color-white: #fff;

  --color-primary: #ff8d1a;
  --color-primary-light-1: #000;
  --color-primary-dark-1: #000;

  --color-secondary: #00b5ce;
  --color-secondary-light-1: #fff;
  --color-secondary-dark-1: #fff;

  --color-tertiary: #5b3fe7;

  --color-grey-light-1: #fafafa;
  --color-grey-light-2: #cccccc;
  --color-grey-light-3: #b3b3b3;

  --color-grey-dark-1: #1a1a1a;
  --color-grey-dark-2: #333333;
  --color-grey-dark-3: #4d4d4d;

  /* Font Variables */
  --font-primary: 'Poppins', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  /* Font Sizes */
  --font-size-h1: 4rem;
  --font-size-h2: 3.6rem;
  --font-size-h3: 2.8rem;
  --font-size-h4: 1.8rem;
  --font-size-h5: 1.4rem;
  --font-size-h6: 1.2rem;
  --font-size-sh: 1.6rem;
  --font-size-p: 1.8rem;
  --font-size-a: 1.8rem;
  --font-size-btn: 1.6rem;

  /* Font Weights */
  --font-weight-h1: 700;
  --font-weight-h2: 700;
  --font-weight-h3: 700;
  --font-weight-h4: 600;
  --font-weight-h5: 500;
  --font-weight-h6: 400;
  --font-weight-sh: 400;
  --font-weight-p: 400;
  --font-weight-a: 600;
  --font-weight-btn: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media only screen and (max-width: 75em) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  background-color: var(--color-grey-light-1);
  /* line-height: 1.2; */
  /* overflow-x: hidden; */
}

/* Reuseable Classes */
.sec-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.heading-1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

.heading-2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}

.heading-3 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}

.heading-4 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
}

.heading-5 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}

.heading-6 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-h6);
}

.subheading {
  font-family: var(--font-heading);
  display: block;
  font-size: var(--font-size-sh);
  font-weight: var(--font-weight-sh);
}

.para {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--font-size-a);
  font-weight: var(--font-weight-a);
  transition: all 0.2s;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.margin-top-sm {
  margin-top: 1.6rem !important;
}

.margin-top-md {
  margin-top: 3.2rem !important;
}

.margin-top-lg {
  margin-top: 6.4rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-right-md {
  margin-right: 3.2rem !important;
}

.margin-right-lg {
  margin-right: 6.4rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

.margin-bottom-lg {
  margin-bottom: 6.4rem !important;
}

.margin-left-sm {
  margin-left: 1.6rem !important;
}

.margin-left-md {
  margin-left: 3.2rem !important;
}

.margin-left-lg {
  margin-left: 6.4rem !important;
}

.text-center {
  text-align: center !important;
}

/* Animations */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.move-in-top {
  animation: moveInTop 2s;
}

.move-in-right {
  animation: moveInRight 2s;
}

.move-in-bottom {
  animation: moveInBottom 2s;
}

.move-in-left {
  animation: moveInLeft 2s;
}

/* Reuseable Components */
/* Button */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-btn);

  /* For <button> element */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--fill {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--outline {
  background-color: var(--color-white);
  color: var(--color-primary);
  box-shadow: inset 0 0 0 0.3rem var(--color-primary);
}

/* .btn:hover,
.btn:active {
  background-color: var(--color-black);
  color: var(--color-white);
} */

/* Form */
.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: var(--color-white);
  width: 100%;
  padding: 3rem;
  border-radius: 0.7rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);

  .form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;

    .form__para {
      color: var(--color-secondary);
      font-weight: 600;
    }
  }

  .form__phone-input {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;

    & select,
    input[type='tel'] {
      border: 1px solid #ccc;
      padding: 1rem 2rem;
      font-size: var(--font-size-p);
      box-shadow: none;
      border-radius: 0.7rem;
      outline: none;
    }

    #country-code-input {
      display: none;
    }
  }

  .form__phone-input select:focus,
  .form__phone-input input[type='tel']:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .form__btn {
    width: 100%;
  }
}

/* Header */
.header {
  margin-bottom: 5rem;
  text-align: center;

  .header__heading--purple {
    color: var(--color-tertiary);
  }
}

/* Tabs */
.tabs {
  .tabs__btn-container {
    .tabs__btn--active {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  .tabs__content {
    display: none;

    &.tabs__content--active {
      display: block;
    }
  }
}

/* Slider */
.slider {
  position: relative;
  display: flex;
  overflow: hidden;

  .slider__slide {
    flex: 0 0 100%;
  }

  .slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;

    &.slider__btn--left {
      left: 0;
    }

    &.slider__btn--right {
      right: 0;
    }
  }
}

/* Video Player */
.video-player {
  position: relative;
  padding-bottom: 56.25%;
  /* for 16:9 ratio */
  height: 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

  .video-player__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Accordion */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .accordion__item.accordion__active {
    border-top: 0.3rem solid var(--color-secondary);

    .accordion__num,
    .accordion__title,
    .accordion__icon {
      color: var(--color-secondary);
    }

    .accordion__content {
      display: block;
    }
  }

  .accordion__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
    background-color: var(--color-white);
    padding: 2rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 0.7rem;

    .accordion__num,
    .accordion__title,
    .accordion__icon {
      font-size: 1.8rem;
    }

    .accordion__title {
      font-weight: 600;
    }

    .accordion__content {
      font-size: 1.6rem;
      display: none;
      grid-column: 2 / 3;
    }
  }
}

/* Modal */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal__content-container {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 0.7rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal__close-btn {
      color: #aaa;
      align-self: flex-end;
      font-size: 2.8rem;
      font-weight: bold;

      &.modal__close-btn:hover,
      .modal__close-btn:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .modal__iframe-container {
      position: relative;
      overflow: hidden;
      width: 100%;

      .modal__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }

      &.modal__iframe-container--landscape {
        padding-top: 56.25%;
      }

      &.modal__iframe-container--portrait {
        width: 56.25%;
        height: 0;
        padding-top: 177.78%;
        margin: 0 auto;
      }
    }
  }
}
