:root {
  /* Colors */
  --color-black: #000;
  --color-white: #fff;

  --color-primary: #ff8d1a;
  --color-primary-light-1: #000;
  --color-primary-dark-1: #000;

  --color-secondary: #00b5ce;
  --color-secondary-light-1: #fff;
  --color-secondary-dark-1: #fff;

  --color-tertiary: #5b3fe7;

  --color-grey-light-1: #fafafa;
  --color-grey-light-2: #cccccc;
  --color-grey-light-3: #b3b3b3;

  --color-grey-dark-1: #1a1a1a;
  --color-grey-dark-2: #333333;
  --color-grey-dark-3: #4d4d4d;

  /* Font Variables */
  --font-primary: 'Nunito', sans-serif;
  --font-heading: 'Nunito', sans-serif;

  /* Font Sizes */
  --font-size-h1: 5rem;
  --font-size-h2: 4rem;
  --font-size-h3: 3rem;
  --font-size-h4: 1.8rem;
  --font-size-h5: 1.4rem;
  --font-size-h6: 1.2rem;
  --font-size-sh: 1.6rem;
  --font-size-p: 1.8rem;
  --font-size-a: 1.8rem;
  --font-size-btn: 1.8rem;

  /* Font Weights */
  --font-weight-h1: 900;
  --font-weight-h2: 900;
  --font-weight-h3: 700;
  --font-weight-h4: 500;
  --font-weight-h5: 500;
  --font-weight-h6: 400;
  --font-weight-sh: 400;
  --font-weight-p: 400;
  --font-weight-a: 600;
  --font-weight-btn: 800;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  /* line-height: 1.2; */
  /* overflow-x: hidden; */
}

/* Reuseable Classes */
.sec-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.heading-1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

.heading-2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}

.heading-3 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}

.heading-4 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
}

.heading-5 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}

.heading-6 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-h6);
}

.subheading {
  font-family: var(--font-heading);
  display: block;
  font-size: var(--font-size-sh);
  font-weight: var(--font-weight-sh);
}

.para {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--font-size-a);
  font-weight: var(--font-weight-a);
  transition: all 0.2s;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.margin-top-sm {
  margin-top: 1.6rem !important;
}

.margin-top-md {
  margin-top: 3.2rem !important;
}

.margin-top-lg {
  margin-top: 6.4rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-right-md {
  margin-right: 3.2rem !important;
}

.margin-right-lg {
  margin-right: 6.4rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

.margin-bottom-lg {
  margin-bottom: 6.4rem !important;
}

.margin-left-sm {
  margin-left: 1.6rem !important;
}

.margin-left-md {
  margin-left: 3.2rem !important;
}

.margin-left-lg {
  margin-left: 6.4rem !important;
}

.text-center {
  text-align: center !important;
}

/* Animations */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideGloss {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

/* Reuseable Components */
/* Button */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-btn);

  /* For <button> element */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--fill {
  background-color: var(--color-primary);
  color: var(--color-white);

  transition: background-color 0.3s;
  overflow: hidden !important;
  position: relative;
}

.btn--fill::before {
  content: '';
  position: absolute;
  top: -75%;
  left: -25%;
  width: 40%;
  height: 150%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.9) 100%
  );
  transform: rotate(-45deg);
  pointer-events: none;
  opacity: 0.6;
  animation: slideGloss 3s infinite;
  filter: blur(30px);
}

.btn--outline {
  background-color: var(--color-white);
  color: var(--color-primary);
  box-shadow: inset 0 0 0 0.3rem var(--color-primary);
}

/* .btn:hover,
.btn:active {
  background-color: var(--color-black);
  color: var(--color-white);
} */

/* Header */
.header {
  text-transform: uppercase;
  margin-bottom: 5rem;
  text-align: center;

  .header__heading {
    color: var(--color-tertiary);
  }
}

/* Tabs */
.tabs {
  .tabs__btn-container {
    .tabs__btn--active {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  .tabs__content {
    display: none;

    &.tabs__content--active {
      display: block;
    }
  }
}
