:root {
  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #377dff;
  --color-primary-light-1: #000;
  --color-primary-dark-1: #10254c;
  --color-secondary: #e7c774;
  --color-secondary-light-1: #fff;
  --color-secondary-dark-1: #fff;
  --color-grey-light-1: #e6e6e6;
  --color-grey-light-2: #cccccc;
  --color-grey-light-3: #b3b3b3;
  --color-grey-dark-1: #1a1a1a;
  --color-grey-dark-2: #333333;
  --color-grey-dark-3: #4d4d4d;

  /* Font Variables */
  --font-primary: 'Poppins', sans-serif;
  --font-display: 'Poppins', sans-serif;

  /* Font Sizes */
  --font-size-h1: 3.6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2.4rem;
  --font-size-h4: 1.8rem;
  --font-size-h5: 1.4rem;
  --font-size-h6: 1.2rem;
  --font-size-sh: 1.6rem;
  --font-size-para: 1.6rem;
  --font-size-btn: 1.6rem;
  --font-size-btn-txt: 1.6rem;

  /* Font Weights */
  --font-weight-h1: 700;
  --font-weight-h2: 600;
  --font-weight-h3: 600;
  --font-weight-h4: 500;
  --font-weight-h5: 500;
  --font-weight-h6: 400;
  --font-weight-sh: 400;
  --font-weight-para: 400;
  --font-weight-btn: 400;
  --font-weight-btn-txt: 400;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-grey-dark-1);
}

main {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(https://www.letstute.com/s/pages/assets/images/backgroundddd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Resuable Classes */
.sec-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.heading-1 {
  font-family: var(--font-display);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

.heading-1--light {
  color: var(--color-white);
}

.heading-1--dark {
  color: var(--color-black);
}

.heading-2 {
  font-family: var(--font-display);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}

.heading-2--light {
  color: var(--color-white);
}

.heading-2--dark {
  color: var(--color-black);
}

.heading-3 {
  font-family: var(--font-display);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}

.heading-3--light {
  color: var(--color-white);
}

.heading-3--dark {
  color: var(--color-black);
}

.heading-4 {
  font-family: var(--font-display);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
}

.heading-4--light {
  color: var(--color-white);
}

.heading-4--dark {
  color: var(--color-black);
}

.heading-5 {
  font-family: var(--font-display);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}

.heading-5--light {
  color: var(--color-white);
}

.heading-5--dark {
  color: var(--color-black);
}

.heading-6 {
  font-family: var(--font-display);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-h6);
}

.heading-6--light {
  color: var(--color-white);
}

.heading-6--dark {
  color: var(--color-black);
}

.subheading {
  font-family: var(--font-display);
  display: block;
  font-size: var(--font-size-sh);
  font-weight: var(--font-weight-sh);
}

.subheading--light {
  color: var(--color-white);
}

.subheading--dark {
  color: var(--color-black);
}

.para {
  font-size: var(--font-size-para);
  font-weight: var(--font-weight-para);
}

.para--light {
  color: var(--color-white);
}

.para--dark {
  color: var(--color-black);
}

.margin-top-sm {
  margin-top: 1.6rem !important;
}

.margin-top-md {
  margin-top: 3.2rem !important;
}

.margin-top-lg {
  margin-top: 6.4rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-right-md {
  margin-right: 3.2rem !important;
}

.margin-right-lg {
  margin-right: 6.4rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

.margin-bottom-lg {
  margin-bottom: 6.4rem !important;
}

.margin-left-sm {
  margin-left: 1.6rem !important;
}

.margin-left-md {
  margin-left: 3.2rem !important;
}

.margin-left-lg {
  margin-left: 6.4rem !important;
}

.text-center {
  text-align: center !important;
}

strong {
  font-weight: 500 !important;
}

/* Reuseable Components */
/* Buttons */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  /* text-transform: uppercase; */
  text-decoration: none;
  padding: 1.4rem;
  border-radius: 0.7rem;
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-btn);
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, #377dff, #10254c);
  color: var(--color-white) !important;
  /* For <button> element */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

/* .btn:hover, .btn:active {} */
.btn-txt:link,
.btn-txt:visited {
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-btn-txt);
  font-weight: var(--font-weight-btn-txt);
  transition: all 0.2s;
}

/* .btn-txt:hover, .btn-txt:active {} */

/* Scroll Text */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scroll-txt:link,
.scroll-txt:visited {
  display: block;
  text-decoration: none;
  color: #fff !important;
  overflow: hidden;
}

.scroll-txt__txt {
  animation: scroll 20s linear infinite;
  font-size: 1.6rem;
  white-space: nowrap;
  margin: 0;
}

.scroll-txt:hover,
.scroll-txt:active {
  color: #fff;
}

/* Course Nav */
.course-nav__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #232323;
  display: flex;
  align-items: center;
}

.course-nav__icon {
  width: 20%;
  margin-right: 1rem;
}

.course-nav__items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.course-nav__heading {
  background-color: #fff;
}

.course-nav__heading:link,
.course-nav__heading:visited {
  text-decoration: none;
  padding: 1rem;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
  font-weight: 500;
  color: #000 !important;
  transition: all 0.2s;
}

.course-nav__heading:hover,
.course-nav__heading:active {
  transform: translateX(0.5rem);
  color: #000 !important;
}

.course-nav__heading--1 {
  border-left: 0.5rem solid #377dff;
  color: #000 !important;
}

.course-nav__heading--2 {
  border-left: 0.5rem solid red;
  color: #000 !important;
}

/* Counter */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__num {
  font-size: 2.6rem;
  font-weight: 700;
}

.counter__heading {
  margin: 0;
  font-size: 1.4rem;
}

/* Testimonial */
.testimonial {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.testimonial__icon {
  color: #377dff;
  width: 5rem;
  margin-top: -6rem;
}

.testimonial__text {
  font-size: 1.2rem;
}

.testimonial__author {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #4d4d4d;
}

/* Course Card */
.course-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  background: var(--color-secondary);
}

.course-card__img {
  display: block;
  width: 100%;
}

.course-card__content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  padding: 1.5rem;
}

.course-card__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0;
}

.course-card__desc {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0;
}

.course-card__cta:link,
.course-card__cta:visited {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-white);
  color: var(--color-grey-dark-1);
  border: 0.1rem solid var(--color-primary);
  border-radius: 0.7rem;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Hero Section */
.hero__section {
  padding: 3rem !important;
}

.hero__courses-box {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
  /*align-items: start;*/
}

/* Scroll Text Section */
.scroll-txt__section {
  padding: 0.5rem 0;
  background-image: linear-gradient(to right, #377dff, #10254c);
  color: #fff;
}

/* Download Section */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-0.5rem);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: rotateY(0);
  }
}

.download__section {
  padding: 3rem 0 7rem 0;
}

.download__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  align-items: center;
}

.download__brochure:link,
.download__brochure:visited {
  justify-self: end;
  color: #fff !important;
}

.download__brochure:hover,
.download__brochure:active {
  transform: translateY(-0.5rem);
  color: #fff !important;
}

.download__app-link {
  animation: bounce 2s ease infinite;
  display: block;
  height: 4.9rem;
}

/* Courses Nav Section */
.courses-nav__section {
  padding: 0 0 7rem 0;
}

.courses-nav__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.3rem, 1fr));
  gap: 4rem;
}

/* Highlights Section */
.highlights__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  justify-items: center;
  background-image: linear-gradient(to right, #377dff, #10254c);
  color: #fff;
  border-radius: 1.5rem;
  padding: 4rem;
  margin-bottom: 7rem;
}

/* Testimonials Section */
.testimonials__section {
  padding: 0 0 7rem 0;
}

.testimonials__title-box {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.testimonials__cta:link,
.testimonials__cta:visited {
  padding: 1rem 2.2rem;
  background-image: none;
  border: 0.2rem solid #1c3f80;
  color: #10254c !important;
  box-shadow: none;
}

.testimonials__cta:hover,
.testimonials__cta:active {
  color: #fff !important;
}

.testimonials__testimonials-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  row-gap: 6rem;
  -moz-column-gap: 5rem;
  column-gap: 5rem;
}

/* Partners Section */
.partners__section {
  padding: 0 0 7rem 0;
}

.partners__img-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: center;
}

.partners__img {
  display: block;
}

.partners__img--1 {
  width: 30%;
}

.partners__img--2 {
  width: 75%;
}

.partners__img--3 {
  width: 60%;
}

.partners__img--4 {
  width: 35%;
}

.partners__img--5 {
  width: 50%;
}

/* Media Queries */
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 50em) {
  .testimonials__heading {
    font-size: 2rem;
  }

  .partners__section {
    padding: 0 0 5rem 0;
  }
}
