:root {
  /* COLOR SCHEME */
  --color-black: #000;
  --color-white: #fff;

  --color-primary: #ff8d1a;
  --color-primary-light-1: #000;
  --color-primary-dark-1: #000;

  --color-secondary: #00b5ce;
  --color-secondary-light-1: #fff;
  --color-secondary-dark-1: #fff;

  --color-tertiary: #5b3fe7;

  --color-grey-light-1: #f8f8f8;
  --color-grey-light-2: #cccccc;
  --color-grey-light-3: #b3b3b3;

  --color-grey-dark-1: #1a1a1a;
  --color-grey-dark-2: #333333;
  --color-grey-dark-3: #4d4d4d;

  /* TYPOGRAPHY */
  /* Font Family */
  --font-primary: 'Poppins', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  /* Font Size */
  --font-size-h1: 3.6rem;
  --font-size-h2: 4rem;
  --font-size-h3: 2.4rem;
  --font-size-h4: 1.8rem;
  --font-size-h5: 1.4rem;
  --font-size-h6: 1.2rem;
  --font-size-sh: 1.6rem;
  --font-size-p: 2rem;
  --font-size-a: 1.6rem;
  --font-size-btn: 1.6rem;

  /* Font Weight */
  --font-weight-h1: 700;
  --font-weight-h2: 600;
  --font-weight-h3: 600;
  --font-weight-h4: 500;
  --font-weight-h5: 500;
  --font-weight-h6: 400;
  --font-weight-sh: 400;
  --font-weight-p: 400;
  --font-weight-a: 400;
  --font-weight-btn: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* overflow-x: hidden; */
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-dark-3);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

/* ANIMATIONS */
/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.5s;
}

/* Slide In */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 1.5s;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: slideInRight 1.5s;
}

/* Grow */
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.grow {
  animation: grow 1s;
}

/* Rotate */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 2s infinite linear;
}

/* Bounce */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
}

.bounce {
  animation: bounce 1s infinite;
}

/* UTILITY CLASSES */
.container {
  max-width: 132rem;
  padding: 0 5rem;
  margin: 0 auto;
}

.heading-1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

.heading-2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
}

.heading-3 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
}

.heading-4 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
}

.heading-5 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}

.heading-6 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-h6);
}

.subheading {
  display: block;
  font-family: var(--font-heading);
  font-size: var(--font-size-sh);
  font-weight: var(--font-weight-sh);
}

.para {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: var(--font-size-a);
  font-weight: var(--font-weight-a);
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.2s;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.margin-top-sm {
  margin-top: 1.6rem !important;
}

.margin-top-md {
  margin-top: 3.2rem !important;
}

.margin-top-lg {
  margin-top: 6.4rem !important;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-right-md {
  margin-right: 3.2rem !important;
}

.margin-right-lg {
  margin-right: 6.4rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

.margin-bottom-lg {
  margin-bottom: 6.4rem !important;
}

.margin-left-sm {
  margin-left: 1.6rem !important;
}

.margin-left-md {
  margin-left: 3.2rem !important;
}

.margin-left-lg {
  margin-left: 6.4rem !important;
}

.text-center {
  text-align: center !important;
}

/* UI COMPONENTS */
/* Button */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 0.6rem;
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-btn);
  text-decoration: none;
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;

  /* For <button> element */
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
}

.header__heading {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.header__underline {
  width: 7rem;
  height: 0.5rem;
  background-color: var(--color-primary);
}

/* Icon Card */
.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  border-radius: 0.7rem;
  padding: 3rem;
  background-color: rgba(255, 141, 26, 0.05);
  box-shadow: 0 0 1rem rgba(255, 141, 26, 0.5);
}

.feature-card__icon {
  width: 10rem;
}

.feature-card__heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.feature-card__btn {
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
}

/* Tabs */
.tabs {
  .tabs__btn-container {
    .tabs__btn {
      cursor: pointer;

      &.tabs__btn--active {
        background-color: var(--color-black);
        color: var(--color-white);
      }
    }
  }

  .tabs__content {
    display: none;

    &.tabs__content--active {
      display: block;
    }
  }
}
